.Card {
  border-radius: 0.2rem;
  background-color: #eceaea;
  box-shadow: 1px 1px 4px 0px rgba(26,26,26,0.57);
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.Card--Body {
  padding: 0.2rem;
}

.Card--Header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Card--Icons--Actions {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.Card--Icons--Actions li {
  margin: 0 0.2rem;
  font-size: 0.7rem;
}